<?xml version="1.0"?>
<robot name="hand" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Arguments -->
    <xacro:arg name="prefix" default="" />
    
    <xacro:include filename="$(find libertech_ranger_arm_description)/urdf/common/arm_macro.xacro" />
    <xacro:property name="mesh_visual_path" value="file://$(find libertech_ranger_arm_description)/meshes"/>

    <link name="world"/>

    <xacro:load_arm prefix="$(arg prefix)" connected_to="world" left="false">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    </xacro:load_arm>

</robot>